.nav-link-container {
    margin-right: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
  }
  
  .nav-link-container:last-child {
    border-right: none;
  }

  .navbar-custom {
    background-color: white !important;
    color: black !important;
  }
  
  .nav-link-container {
    margin-right: 20px;
  }
  
  .fullscreen-bg {
    background-attachment: fixed;
    background-image: url('../foto5.jpg');
    background-size:cover;
    /* position:absolute; */
    width:100%;
    min-height: 75vh;
  }

  .fullscreen-bg-huizenprijzen {
    background-attachment: fixed;
    background-image: url('../foto7.png');
    background-size:cover;
    /* position:absolute; */
    width:100%;
    min-height: 60vh;
  }

  .image1-container{
    background-image: url("../huis1.png");
     width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .image2-container{
    background-image: url("../huis2.png");
     width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .image3-container{
    background-image: url("../huis3.png");
     width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .content{
    padding-top: 50px;
    z-index:9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
    justify-content: center;
    align-items: center;
  }

  h1{
    font-weight: bold;
  }
  
  .black-text{
    color: black !important;
  }